<div class="paddings">
  <table>
    <tr>
      <td>
        Enther the elements:
      </td>
      <td>
        <input type="number" [(ngModel)]='a'>
      </td>

    </tr>
    <br>
    <tr>
      <td><button type="button" class="btn btn-info" (click)="subclick(a)">Submit</button></td>
      <td><button type="button" class="btn btn-info" (click)="resetclicked()">Reset</button></td>
    </tr>
    <br>
    <tr>
      <td>Click to check occurrences:</td>
      <td><button type="button" class="btn btn-info" (click)="dsubmit()">Click</button></td>

    </tr>
    <tr >1:{{one}}</tr>
    <tr>2:{{two}}</tr>
    <tr >3:{{three}}</tr>
    <tr>4:{{four}}</tr>
    <tr>5:{{five}}</tr>
    <tr>6:{{six}}</tr>
    <tr>7:{{sev}}</tr>
    <tr>8:{{eig}}</tr>
    <tr>9:{{nine}}</tr>
  </table>

</div>

